<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvOivPCtUO5hGbgwaC2gxuDTE7vTLOV0c</string>
	<key>GCM_SENDER_ID</key>
	<string>455849467325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EliId.Firebase-sample</string>
	<key>PROJECT_ID</key>
	<string>fir-sample-2f6ba</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sample-2f6ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455849467325:ios:278ca9fc878339bdd706d4</string>
</dict>
</plist>